<% layout('layouts/boilerplate') %>


<div class="container text-center mt-5">
  <div class="card shadow p-5">
    <h2 class="text-danger mb-3">Subscription Inactive</h2>
    <p class="mb-4">
      Your mess subscription is currently inactive.
      Please activate your subscription to continue using the system.
    </p>

    <a href="/student/billing" class="btn btn-primary">
      Activate Subscription
    </a>
  </div>
</div>